<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
    <h:body>
        <ui:composition template="../WEB-INF/templates/securedTemplate.xhtml">
            <ui:define name="title">Polls</ui:define>
            <ui:define name="content">
                <div class="container">
                    <h1>Polls</h1>
                    <h:form acceptcharset="utf-8">
                        <h:dataTable value="#{pollListController.viewAllPolls()}" var="poll" styleClass="table table-striped table-bordered">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Name"/>
                                </f:facet>
                                <h:outputText value="#{poll.title}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Description"/>
                                </f:facet>
                                <h:outputText value="#{poll.description}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Status"/>
                                </f:facet>
                                <h:outputText value="#{poll.state}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Start"/>
                                </f:facet>
                                <h:outputText value="#{poll.start}" >
                                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"/>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="End"/>
                                </f:facet>
                                <h:outputText value="#{poll.end}" >
                                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"/>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Actions"/>
                                </f:facet>
                                <div class="btn-group btn-group-xs">
                                    <p:commandLink 
                                        actionListener="#{pollListController.doDeletePoll(poll)}"
                                        styleClass="btn btn-danger"
                                        update="@form">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                                        <f:passThroughAttribute name="data-toggle" value="tooltip"/>
                                        <f:passThroughAttribute name="data-placement" value="top"/>
                                        <f:passThroughAttribute name="title" value="Delete poll"/>
                                    </p:commandLink>       
                                    <p:confirmDialog global="true">
                                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                    </p:confirmDialog>
                                </div>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </ui:define>     
        </ui:composition>
    </h:body>
</html>

