<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/template.css"/>
        <h:outputScript library="primefaces" name="jquery/jquery.js"/>
        <h:outputScript library="webjars" name="bootstrap/3.2.0/js/bootstrap.min.js"/>
        <title> <ui:insert name="title">Template</ui:insert></title>
    </h:head>

    <h:body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <ui:fragment rendered="#{userServiceBean.administrator == true}">
                    <a class="navbar-brand" href="../admin/index.xhtml">Zuluvoting</a>
                    </ui:fragment>
                    <ui:fragment rendered="#{userServiceBean.administrator == false and !empty(userServiceBean.organiser.username)}">
                    <a class="navbar-brand" href="../secured/index.xhtml">Zuluvoting</a>
                    </ui:fragment>
                     <ui:fragment rendered="#{empty(userServiceBean.organiser.username)}">
                    <a class="navbar-brand" href="../index.xhtml">Zuluvoting</a>
                    </ui:fragment>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <c:choose>
                            <c:when test="#{userServiceBean.administrator == true}">
                                <li><a href="../admin/pollList.xhtml">Polls</a></li>
                                <li><a href="../admin/organisers.xhtml">Organisers</a></li>
                                <li><a href="../users/createUser.xhtml">New User</a></li>
                            </c:when>
                            <c:otherwise>
                                <ui:fragment rendered="${!empty(userServiceBean.organiser.username)}">
                                <li><a href="../secured/pollList.xhtml">Polls</a></li>
                                </ui:fragment>
                            </c:otherwise>
                        </c:choose>
                    </ul>
                    <h:form class="navbar-text navbar-right">
                        <ui:fragment rendered="${!empty(userServiceBean.organiser.username)}">
                                Logged in as:
                                <b><h:outputText value="${userServiceBean.organiser.username}"/></b> -
                                <h:commandLink action="#{userServiceBean.logout()}">Log out</h:commandLink>
                        </ui:fragment>
                    </h:form>
                </div>
            </div>
        </div>
        <div>
            <div id="content" class="left_content">
                <ui:insert name="content">Main Content</ui:insert>
            </div>
        </div>
    </h:body>
</html>