<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <h:outputScript library="primefaces" name="jquery/jquery.js"/>
        <h:outputScript library="webjars" name="bootstrap/3.2.0/js/bootstrap.min.js"/>
        <h:outputStylesheet name="css/template.css" />
        <title> <ui:insert name="title">Template</ui:insert></title>
    </h:head>

    <h:body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.xhtml">Zuluvoting</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!--<li><a href="pollList.xhtml">Polls</a></li>
                        <li><a href="organisers.xhtml">Organisers</a></li>-->
                        <!-- class="active" would indicated the current page,
                        but this is too complicated because of the template -->
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div id="content" class="left_content">
                <ui:insert name="content">Main Content</ui:insert>
            </div>
        </div>
    </h:body>
</html>