<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
    <ui:composition template="../WEB-INF/templates/securedTemplate.xhtml">
        <ui:define name="title">Create Account</ui:define>
        <ui:define name="content">
            
            <div class="container">
                <h2>Create new user</h2>
                <p:messages globalOnly="true" />
                <h:form>
                    <div class="form-group">
                <h:panelGrid columns="2">
                    <h:outputLabel value="Name: "></h:outputLabel>
                    <h:inputText 
                        value="#{createUserController.organiser.realname}"/>
                    <h:outputLabel value="Username: "></h:outputLabel>
                    <h:inputText 
                        value="#{createUserController.organiser.username}"/>
                    <h:outputLabel value="E-Mail: "></h:outputLabel>
                    <h:inputText 
                        value="#{createUserController.organiser.email}" id="email_field"/>
                    <h:outputLabel value="Password: "></h:outputLabel>
                    
                    <h:inputSecret value="#{createUserController.password}"/>
                </h:panelGrid>
                <p:message for="email_field" />
                    </div>
                <p:commandLink
                    ajax="false"
                    action="#{createUserController.createUser()}"
                            styleClass="btn btn-success"
                            >
                            <span class="glyphicon glyphicon-plus"/>
                            Add new organiser
                </p:commandLink>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>