<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
    <h:body>
        <ui:composition template="../WEB-INF/templates/securedTemplate.xhtml">
            <ui:define name="title">Zuluvoting | Home</ui:define>
            <ui:define name="content">
                 <div class="jumbotron">
                    <div class="container">
                        <h1>
                            <img src="../resources/img/zulu.png" width="300" height="225" alt="Zuluvoting"/>
                            Zuluvoting
                        </h1>
                    </div>
                </div>
                <div class="container">
                    <h1>Hello <b>#{userServiceBean.organiser.realname}(#{userServiceBean.organiser.email}),</b><br/>
                        Welcome to Zuluvoting</h1>
                    Click <a href="http://localhost:8080/zuluvoting/secured/pollList">here</a>, to get to your polls.
                </div>
            </ui:define>     
        </ui:composition>
    </h:body>
</html>
