<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
    <ui:composition template="../WEB-INF/templates/securedTemplate.xhtml">
        <ui:define name="title">Organisers</ui:define>
        <ui:define name="content">
            <div class="container">
                <h2>Organisers</h2>
                <h:form>
                    <p:messages globalOnly="true" />
                    <h:dataTable value="#{organisersController.poll.organisers}"
                                 var="organiser"
                                 styleClass="table table-striped table-bordered">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Username" />
                            </f:facet>
                            <h:outputText value="#{organiser.username}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Real Name" />
                            </f:facet>
                            <h:outputText value="#{organiser.realname}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="E-Mail" />
                            </f:facet>
                            <h:outputText value="#{organiser.email}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Polls" />
                            </f:facet>
                            <h:outputText value="#{organiser.polls.size()}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Actions" />
                            </f:facet>
                            <div class="btn-group btn-group-xs">
                                <ui:fragment rendered="#{userServiceBean.administrator == true}"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-asterisk"></span></button></ui:fragment>
                                <p:commandLink 
                                    actionListener="#{organisersController.doDeleteOrganiser(organiser)}"
                                    styleClass="btn btn-danger"
                                    update="@form">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                                </p:commandLink>       
                                <p:confirmDialog global="true">
                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                </p:confirmDialog>
                            </div>
                        </h:column>
                    </h:dataTable>
                </h:form>
                <h:form>
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" onclick="window.history.back()">Continue</button>
                        </div>
               </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>