<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" lang="en"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../WEB-INF/templates/securedTemplate.xhtml">
      
        <ui:define name="title">Participants</ui:define>
        <ui:define name="content">
            <div class="container">
                <div class="starter-template">
                    <h2>Participant List</h2>
                    <h:form id="tableForm">
                        <p:messages globalOnly="true"/>
                        <h:dataTable value="#{participantListController.poll.participants}"
                                     var="participant"
                                     styleClass="table table-striped table-bordered">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="E-Mail" />
                                </f:facet>
                                <h:outputText value="#{participant.email}" />
                            </h:column>
                            <h:column rendered="#{participantListController.poll.participationTracking}">
                                <f:facet name="header">
                                    <h:outputText value="Has voted"/>
                                </f:facet>
                                <h:panelGroup rendered="#{participant.hasVoted}">
                                    <span class="glyphicon glyphicon-ok"/>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{!participant.hasVoted}">
                                    <span class="glyphicon glyphicon-remove"/>
                                </h:panelGroup>
                            </h:column>
                            <h:column rendered="#{participantListController.mode == 'EDIT'}">
                                <f:facet name="header">
                                    <h:outputText value="Actions" />
                                </f:facet>
                                <div class="btn-group btn-group-xs">
                                    <p:commandLink id="remove" actionListener="#{participantListController.doDeleteParticipant(participant)}" styleClass="btn btn-danger" update=":tableForm">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                                    </p:commandLink>       
                                    <p:confirmDialog global="true" >
                                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                    </p:confirmDialog>
                                </div>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                    <h:form id="addForm" rendered="#{participantListController.mode == 'EDIT'}">
                        <h:panelGrid columns="3" >
                            <p:outputLabel for="email" value="New Participant (E-mail):" />    
                            <p:inputText id="email" value="#{participantListController.newEmail}" size="30" required="true" requiredMessage="Please enter your email address."
                                         validatorMessage="Invalid email format" onkeydown="if (event.keyCode == 13) document.getElementById('addForm:add').click()">
                                <f:passThroughAttribute name="autofocus" value="autofocus"/>
                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" /></p:inputText>
                            <p:commandLink id="add" actionListener="#{participantListController.doAddParticipant()}" styleClass="btn btn-success"  update=":tableForm :addForm">
                                <i class="glyphicon glyphicon-plus" ></i>     


                            </p:commandLink>  
                            <p:watermark for="email" value="Email Address" />
                            <p:message for="email" />
                        </h:panelGrid>
                    </h:form>
                    <h:form>
                        <div class="pull-right">
                            <c:choose>
                                <c:when test="#{participantListController.mode == 'EDIT'}">
                                    <h:commandLink action="#{participantListController.doContinue()}"
                                                   styleClass="btn btn-success btn-block">
                                        Continue
                                    </h:commandLink>  
                                </c:when>
                                <c:otherwise>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-success" onclick="window.history.back()">Continue</button>
                                    </div>
                                </c:otherwise>
                            </c:choose>
                        </div>
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>