<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:body>
        <ui:composition template="../WEB-INF/templates/securedTemplate.xhtml">
            <ui:define name="title">
                <h:outputText value="Poll Editor"/>
            </ui:define>
            <ui:define name="content">
                <h:form id="items" acceptcharset="utf-8">
                    <div class="container">
                        <h1 class="page-header">
                            <!--<h:outputText value="Title:"/>-->
                            <h:inputText readonly="#{pollEditController.poll.state!='PREPARED'}" value="#{pollEditController.poll.title}" id="pollTitle"/>
                        </h1>
                                              
                        <p:messages/>
                        <div class="row">
                            <div class="col-xs-3">
                                <p:outputLabel for="start" value="Start: " />
                                <p:calendar  disabled="#{pollEditController.poll.state!='PREPARED'}" id="start" value="#{pollEditController.poll.start}" pattern="dd.MM.yyyy HH:mm:ss"/> 

                            </div>
                            <div class="col-xs-3">
                                <p:outputLabel for="end" value="End: " />
                                <p:calendar disabled="#{pollEditController.poll.state!='PREPARED'}" id="end" value="#{pollEditController.poll.end}" pattern="dd.MM.yyyy HH:mm:ss"/> 

                            </div>
                            <div class="col-xs-6">
                                <p:outputLabel rendered="#{(pollEditController.poll.state!='PREPARED') and (pollEditController.poll.state!='FINISHED')}" for="ext" value="Extend voting time until: " />
                                <p:calendar rendered="#{(pollEditController.poll.state!='PREPARED') and (pollEditController.poll.state!='FINISHED')}" id="ext" value="#{pollEditController.extension}" pattern="dd.MM.yyyy HH:mm:ss"/> 

                            </div>
                        </div>
                        <br/>
                        
                        <div class="row">
                            <div class="col-xs-12">
                                <h:selectBooleanCheckbox disabled="#{pollEditController.poll.state!='PREPARED'}" value="#{pollEditController.poll.participationTracking}"/>
                                <h:outputLabel value="Participation tracking"/>
                            </div>
                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="desc">Description</label>
                                    <h:inputTextarea readonly="#{pollEditController.poll.state!='PREPARED'}"
                                                     id="desc" 
                                                     value="#{pollEditController.poll.description}"
                                                     styleClass="form-control"/>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <br/>
                        <ui:repeat id="itemList"
                                   value="#{pollEditController.poll.items}"
                                   var="item"
                                   >
                            <div class="row">
                                <div class="col-xs-3">

                                    <h:inputText readonly="#{pollEditController.poll.state!='PREPARED'}"
                                                 value="#{item.title}"
                                                 class="form-control"/>
                                    <h:selectOneMenu disabled="#{pollEditController.poll.state!='PREPARED'}" value="#{item.type}" class="form-control">
                                        <f:selectItem itemLabel="Single option" itemValue="ONE_OF_N"/>
                                       <!-- <f:selectItem itemLabel="Multiple options" itemValue="M_OF_N"/>-->
                                        <f:selectItem itemLabel="Yes/No" itemValue="YES_NO"/>
                                        <f:ajax execute="@form" render=":items" listener="#{pollEditController.onItemTypeChange(item)}"/>
                                    </h:selectOneMenu>

                                    <h:commandLink  rendered="#{pollEditController.poll.state=='PREPARED'}"
                                                    actionListener="#{pollEditController.doDeleteItem(item)}"
                                                    styleClass="btn btn-danger btn-block">
                                        <span class="glyphicon glyphicon-minus"/>
                                        <f:ajax execute="@form" render=":items"/>
                                        Delete this question
                                    </h:commandLink>

                                </div>
                                <div class="col-xs-9">
                                    <h:panelGroup id="optionContainer">
                                        <ui:repeat id="optionList"
                                                   value="#{item.options}"
                                                   var="option">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-9">
                                                        <h:inputText rendered="#{option.shortName != 'Abstention'}"
                                                                     disabled="#{item.type=='YES_NO' or pollEditController.poll.state!='PREPARED'}"
                                                                     value="#{option.shortName}"
                                                                     styleClass="form-control"/>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <h:commandLink rendered="#{item.type!='YES_NO' and pollEditController.poll.state=='PREPARED' and option.shortName != 'Abstention'}" 
                                                                       actionListener="#{pollEditController.doDeleteOption(item,option)}"
                                                                       styleClass="btn btn-danger btn-block">
                                                            <span class="glyphicon glyphicon-minus"/>
                                                            <f:ajax execute="@form" render=":items"/>
                                                            Delete option
                                                        </h:commandLink>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h:inputText rendered="#{option.shortName != 'Abstention'}"
                                                                     readonly="#{pollEditController.poll.state!='PREPARED'}"
                                                                     value="#{option.description}"
                                                                     styleClass="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                        </ui:repeat>
                                        <h:commandLink rendered="#{item.type!='YES_NO' and pollEditController.poll.state=='PREPARED'}" actionListener="#{pollEditController.doAddOption(item)}"
                                                       styleClass="btn btn-success btn-block">
                                            <span class="glyphicon glyphicon-plus"/>
                                            <f:ajax execute="@form" render=":items"/>
                                            Add an option
                                        </h:commandLink>
                                    </h:panelGroup>
                                </div>
                            </div>

                            <hr/>
                        </ui:repeat>
                        <div class="row">
                            <h:commandLink rendered="#{pollEditController.poll.state=='PREPARED'}"
                                           action="#{pollEditController.doAddItem()}"
                                           styleClass="btn btn-success btn-block">
                                <!-- ToDo: This throws an error -->
                                <span class="glyphicon glyphicon-plus"/>
                                <f:ajax execute="@form" render=":items"/>
                                Add a question
                            </h:commandLink>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-xs-6">
                                <h:commandLink action="#{pollEditController.doEditParticipators()}"
                                               styleClass="btn btn-default btn-block">
                                    <span class="glyphicon glyphicon-user"/>
                                    Participants
                                </h:commandLink>
                            </div>
                            <div class="col-xs-6">
                                <h:commandLink action="#{pollEditController.doEditOrganisers()}"
                                               styleClass="btn btn-default btn-block">
                                    <span class="glyphicon glyphicon-star"/>
                                    Organisers
                                </h:commandLink>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-xs-6">
                                <h:commandLink action="#{pollEditController.doGetPreview()}"
                                               styleClass="btn btn-default btn-block">
                                    <!--<span class="glyphicon glyphicon-star"/>-->
                                    Preview
                                </h:commandLink>
                            </div>
                            <div class="col-xs-6">
                                <h:commandLink  rendered="#{pollEditController.poll.state=='PREPARED'}"
                                                action="#{pollEditController.doSave()}"
                                                styleClass="btn btn-primary btn-block">
                                    <span class="glyphicon glyphicon-save"/>
                                    Save
                                </h:commandLink>
                                <h:commandLink  rendered="#{(pollEditController.poll.state!='FINISHED')and(pollEditController.poll.state!='PREPARED')}"
                                                action="#{pollEditController.doExtend()}"
                                                styleClass="btn btn-primary btn-block">
                                    <span class="glyphicon glyphicon-share-alt"/>
                                    Extend
                                </h:commandLink>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-xs-6">
                                <h:commandLink action="#{pollEditController.doCancel()}"
                                               immediate="true"
                                               styleClass="btn btn-warning btn-block">
                                    <span class="glyphicon glyphicon-remove"/>
                                    Back
                                </h:commandLink>
                            </div>
                            <div class="col-xs-6">
                                <h:commandLink rendered="#{pollEditController.poll.state=='PREPARED'}" action="#{pollEditController.doStart()}"
                                               styleClass="btn btn-success btn-block">
                                    <span class="glyphicon glyphicon-play"/>
                                    Start
                                </h:commandLink>
                            </div>
                        </div>

                        <br/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

<!-- ToDo: Space rows properly (do not use BRs) -->
