<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      lang="en">
    <h:body>
        <ui:composition template="../WEB-INF/templates/securedTemplate.xhtml">
            <ui:define name="title">Polls</ui:define>
            <ui:define name="content">
                <div class="container">
                    <h1>Polls</h1>
                    <h:form acceptcharset="utf-8">
                        <h:dataTable value="#{pollListController.pollsOwnedByOrganiser}" 
                                     var="poll" 
                                     styleClass="table table-striped table-bordered"
                                     columnClasses="null,null,no-wrap,no-wrap,no-wrap,pollist-actions">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Name"/>
                                </f:facet>
                                <h:outputText value="#{poll.title}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Description"/>
                                </f:facet>
                                <h:outputText value="#{poll.description}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Status"/>
                                </f:facet>
                                <h:panelGroup class="glyphicon glyphicon-stop" rendered="#{poll.state == 'PREPARED'}"/>
                                <h:panelGroup class="glyphicon glyphicon-pause" rendered="#{poll.state == 'STARTED'}"/>
                                <h:panelGroup class="glyphicon glyphicon-play" rendered="#{poll.state == 'RUNNING'}"/>
                                <h:panelGroup class="glyphicon glyphicon-ok" rendered="#{poll.state == 'FINISHED'}"/>
                                &nbsp;
                                <i><h:outputText value="#{pollListController.getFormattedState(poll)}"/></i>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Votes"/>
                                </f:facet>
                                <h:outputText value="#{pollListController.getVotesMessage(poll)}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Start"/>
                                </f:facet>
                                <h:outputText value="#{pollListController.formatStart(poll)}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="End"/>
                                </f:facet>
                                <h:outputText value="#{pollListController.formatEnd(poll)}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Actions"/>
                                </f:facet>
                                <div class="btn-group btn-group-xs">
                                    <h:commandLink
                                        rendered="#{poll.pollState!='FINISHED'}"
                                        action="#{pollListController.doEditPoll(poll)}"
                                        styleClass="btn btn-default">
                                        <f:passThroughAttribute name="data-toggle" value="tooltip"/>
                                        <f:passThroughAttribute name="data-placement" value="top"/>
                                        <f:passThroughAttribute name="title" value="Edit poll"/>
                                        <span class="glyphicon glyphicon-pencil"/>
                                    </h:commandLink>
                                    <ui:fragment rendered="#{poll.pollState=='FINISHED'}">
                                        <a title="View Results" class="btn btn-default" href="#{pollListController.getResultURL(poll)}">
                                            <span class="glyphicon glyphicon-ok"/>
                                        </a>
                                    </ui:fragment>
                                    <h:commandLink 
                                        action="#{pollListController.doViewParticipantList(poll)}"
                                        styleClass="btn btn-default">
                                        <f:passThroughAttribute name="data-toggle" value="tooltip"/>
                                        <f:passThroughAttribute name="data-placement" value="top"/>
                                        <f:passThroughAttribute name="title" value="Show participants"/>
                                        <span class="glyphicon glyphicon-user"/>
                                    </h:commandLink>
                                    <h:commandLink 
                                        action="#{pollListController.doViewOrganiserList(poll)}"
                                        styleClass="btn btn-default">
                                        <f:passThroughAttribute name="data-toggle" value="tooltip"/>
                                        <f:passThroughAttribute name="data-placement" value="top"/>
                                        <f:passThroughAttribute name="title" value="Edit organisers"/>
                                        <span class="glyphicon glyphicon-star"/>
                                    </h:commandLink>


                                    <p:commandLink 
                                        actionListener="#{pollListController.doDeletePoll(poll)}"
                                        styleClass="btn btn-danger"
                                        update="@form">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                                        <f:passThroughAttribute name="data-toggle" value="tooltip"/>
                                        <f:passThroughAttribute name="data-placement" value="top"/>
                                        <f:passThroughAttribute name="title" value="Delete poll"/>
                                    </p:commandLink>       
                                    <p:confirmDialog global="true">
                                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                    </p:confirmDialog>

                                </div>
                            </h:column>
                        </h:dataTable>
                        <h:commandLink
                            action="#{pollListController.doAddPoll()}"
                            styleClass="btn btn-success">
                            <span class="glyphicon glyphicon-plus"/>
                            Create new Poll
                        </h:commandLink>
                    </h:form>
                </div>
            </ui:define>     
        </ui:composition>
    </h:body>
</html>

