<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="../WEB-INF/templates/securedTemplate.xhtml">
        <ui:define name="title">

        </ui:define>
        <ui:define name="content">

            <h:panelGroup id="pollForm"
                          styleClass="container-fluid" 
                          layout="block"
                          style="margin-bottom: 12px"
                          >
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h1 class="page-header"><h:outputText value="#{pollPreviewController.poll.title}"/></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <p><h:outputText value="#{pollPreviewController.poll.description}"/></p>
                    </div>
                </div>
                <h:form>
                    <ui:repeat value="#{pollPreviewController.itemIds}"
                               var="id">

                        <div class="row">
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>
                                            <h:outputText value="#{pollPreviewController.getItemFromListById(id).title}"/>
                                        </h3>
                                    </div>

                                    <div class="panel-body">
                                        <div class="radio">
                                            <h:selectOneRadio value="#{pollPreviewController.selectedRadioOptions[id]}"
                                                              converter="omnifaces.SelectItemsConverter"
                                                              layout="pageDirection"
                                                              required="true"
                                                              requiredMessage="You suck!"
                                                              style="margin-left: 20px"
                                                              rendered="#{pollPreviewController.getItemFromListById(id).type == 'ONE_OF_N' 
                                                                          || pollPreviewController.getItemFromListById(id).type == 'YES_NO'}"> <!-- Aww yiss -->

                                                <f:selectItems value="#{pollPreviewController.getSelectItemsByItemId(id)}"/>
                                            </h:selectOneRadio>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ui:repeat>
                    <br/>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            
                            <h:commandLink action="#{pollPreviewController.doContinue()}"
                                               styleClass="btn btn-success btn-block">

                                   Continue
                                </h:commandLink>
                        </div>
                    </div>
                </h:form>
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</html>