<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
    <h:head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <h:outputStylesheet name="css/template.css" />

        <title>
            <h:outputText value="#{resultController.poll.title} Results"/>
        </title>
    </h:head>

    <h:body>
        <f:metadata>
            <f:viewParam id="id"
                         name="id"
                         value="#{resultController.pollid}">
            </f:viewParam>
        </f:metadata>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Zulu Voting</a>
                </div>

            </div>
        </div>
        <h:form  rendered="#{resultController.state=='LOWPARTICIPANTS'}" id="lowparticipants">
            <h1>
            Sorry, but the poll had too few participants.
            </h1>
        </h:form>
        
        <h:form  rendered="#{resultController.state=='NOTFINISHED'}" id="notfinished">
        <h1>
            Sorry, but the poll you're requesting isn't finished yet.
        </h1>
        </h:form>
        
        <h:form  rendered="#{resultController.state=='RESULTS'}" id="results">
            <div class="container">
                <h1>
                    <h:outputText value="#{resultController.poll.title}"/>
                </h1>
                <h:outputText value="#{resultController.doCreateParticipationString()}"/>
                <br/>
                <div class="container-fluid">
                    <ui:repeat id="itemList" 
                               value="#{resultController.poll.items}" 
                               var="item">
                        
                        <div class="row">
                            <hr/>
                            <div class="col-xs-12">
                                <h:outputLabel value="#{item.title}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="container-fluid">
                                    <h:dataTable value="#{item.options}"
                                                 var="option"
                                                 styleClass="table table-striped">
                                        <h:column>
                                            <f:facet name="header">Name</f:facet>
                                            <h:outputText value="#{option.shortName}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Description</f:facet>
                                            <h:outputText value="#{option.description}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Votes</f:facet>
                                            <h:outputText value="#{option.count}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Percent</f:facet>
                                            <h:outputText value="#{resultController.percent(option)}"/>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                                
                            </div>
                            <div class="col-xs-4">
                                <p:chart type="pie"
                                         model="#{resultController.pies.get(resultController.poll.items.indexOf(item))}"
                                         style="width: 300px; height: 200px;"/>
                            </div>
                            
                        </div>
                        
                    </ui:repeat>    
                </div>
            </div>
        </h:form>

    </h:body>
</html>

