<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="WEB-INF/templates/template.xhtml">
        <ui:define name="title">

        </ui:define>
        <f:metadata>
            <f:viewParam id="token"
                         name="token"
                         value="#{takePollController.rawToken}">
            </f:viewParam>
        </f:metadata>
        <ui:define name="content">

            <!-- ======= Token valid ======= -->
            <h:panelGroup id="pollForm"
                          styleClass="container-fluid" 
                          layout="block"
                          style="margin-bottom: 12px"
                          rendered="#{takePollController.token != null and takePollController.token.valid}">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h1 class="page-header"><h:outputText value="#{takePollController.poll.title}"/></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <p><h:outputText value="#{takePollController.poll.description}"/></p>
                    </div>
                </div>
                <h:form>
                    <ui:repeat value="#{takePollController.itemIds}"
                               var="id">

                        <div class="row">
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>
                                            <h:outputText value="#{takePollController.getItemFromListById(id).title}"/>
                                        </h3>
                                    </div>

                                    <div class="panel-body">
                                        <div class="radio">
                                            <h:selectOneRadio value="#{takePollController.selectedRadioOptions[id]}"
                                                              converter="omnifaces.SelectItemsConverter"
                                                              layout="pageDirection"
                                                              required="true"
                                                              requiredMessage="You suck!"
                                                              style="margin-left: 20px"
                                                              rendered="#{takePollController.getItemFromListById(id).type == 'ONE_OF_N' 
                                                                          || takePollController.getItemFromListById(id).type == 'YES_NO'}"> <!-- Aww yiss -->

                                                <f:selectItems value="#{takePollController.getSelectItemsByItemId(id)}"/>
                                            </h:selectOneRadio>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ui:repeat>
                    <br/>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <h:commandLink value="Submit" action="#{takePollController.submit}" styleClass="btn btn-primary btn-block"/>
                        </div>
                    </div>
                </h:form>
            </h:panelGroup>

            <!-- ======== Token invalid ======== -->
            <h:panelGroup id="tokenForm"
                          rendered="#{takePollController.token == null or !takePollController.token.valid}"
                          styleClass="container-fluid"
                          layout="block"
                          style="margin-top: 200px; margin-left: 0px; margin-right: 0px;">
                <div class="jumbotron">
                    <h2 class="text-danger">Invalid token <small>Please enter a valid token in the textfield below:</small>
                        <h:form styleClass="form-inline">
                            <div class="row">
                                <div class=""> <!-- col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 -->
                                    <div class="form-group">
                                        <h:inputText id="rawtoken"
                                                     value="#{takePollController.rawToken}"
                                                     styleClass="form-control"
                                                     required="true"
                                                     style="width: 290px">
                                        </h:inputText>
                                        <h:message for="rawtoken" style="color:red"/>
                                        <h:commandLink value="Take poll" styleClass="btn btn-default"/>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </h2>
                </div>
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</html>