<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="WEB-INF/templates/template.xhtml">
        <ui:define name="title">
        JPA Test    
        </ui:define>
        <ui:define name="content">
            <div class="container">
                <br></br>
                <h:form>
                        <h:commandLink
                         action="#{testController.createTestData()}"
                            styleClass="btn btn-success">
                            <span class="glyphicon glyphicon-plus"/>
                            Create new test data.
                        </h:commandLink><br/>
                        <h:commandLink
                            action="#{testController.sendTestMessage()}"
                            styleClass="btn btn-success">
                            <span class="glyphicon glyphicon-plus"/>
                            Send e-mail
                        </h:commandLink><br/>
                         <h:commandLink
                            action="#{testController.testTokenService()}"
                            styleClass="btn btn-success">
                            <span class="glyphicon glyphicon-plus"/>
                            Test TokenService
                        </h:commandLink>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>