<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
    <h:body>
        <ui:composition template="WEB-INF/templates/template.xhtml">
            <ui:define name="title">Zuluvoting | Voted</ui:define>
            <ui:define name="content">
                 <div class="jumbotron">
                    <div class="container">
                        <h1>
                            <img src="resources/img/zulu.png" width="300" height="225" alt="Zuluvoting"/>
                            Vote successful
                        </h1>
                    </div>
                </div>
                <div class="container">
                    <h1>Your vote has been registered</h1>
                    <p class="lead">
                        Thanks for using Zuluvoting
                    </p>
                </div>
            </ui:define>     
        </ui:composition>
    </h:body>
</html>

